# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Outros exemplos comuns
*.log
*.env
.DS_Store

# VSCode
.vscode

# Embed
my_sent_embed.pt

# Dataset
dataset/
cola_public_1.1.zip

# Model
model/